/* Conteneur des images */
.hero-images {
  display: flex;            
  justify-content: center;  
  align-items: center;      
  width: 100%;              
  margin: 0 auto;           

}

/* Style de chaque image */
.hero-image {
  text-align: center;       
  max-width: 60%;           
}

.hero-image img {
  width: 100%;              
  max-height: 500px;             
  border-radius: 8px;       
}

@media (max-width: 768px) {
  .hero-images {
    flex-direction: column; 
    align-items: center;    
  }
  .hero-image {
    max-width: 80%;       
  }
}
