.page {
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  width: 30%;
  min-width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  border: 1px solid #bbdefb;
  background-color: var(--main-bg-color);
  justify-content: center;
  border: none;
}

.card h2 {
  margin-top: 0;
  color: white;
  background-color: var(--main-bg-color);
}

.card>p {
  color: white;
  text-align: center;
}


#acces {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#acces .content {
  flex: 1;

}


.card {
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.card>img {
  max-width: 45%;

  height: auto;
  border-radius: 8px;

}

#rdv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

#rdv .content {
  flex: 1;
}

button {
  background: rgba(98, 76, 68, 0.9);
  color: white;
  padding: 12px;
  margin-top: 10px;
  box-shadow: none;
  border: none;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.card>h2 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto; 
    overflow: hidden;
  }
  .card >img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
